mixin post(data)
	.post
		.post_in
			.post_img_wrap
				a.post_img_link(href="#")
					+picture({ img: data.img, class: 'post_picture', img_class: 'post_img' })
			.post_content
				a.post_title(href="#")= data.title
				.post_author
					a.post_author_name(href="#")= data.author.name
					span.post_author_date | #{data.author.date}
				ul.post_tags
					each tag, index in data.tags
						li.post_tags_item
							if index !== data.tags.length - 1
								a.post_tags_link(href="#")= `${tag}, `
							else
								a.post_tags_link(href="#")= tag
				.post_comments
					.post_comments_count= data.comments_count
					.post_comments_icon
						+icon('comment', 'icon--fill_mod')